body {
    background: linear-gradient(180deg, #529273, #832d8e);
    /* evita repeticiones */
    background-repeat: no-repeat;
    /* hace que se mantenga fijo en la pantalla */
    background-attachment: fixed;
}